{{define "body"}}
<main id="game-list">
  <h2>Games</h2>
  <img src="/img/4213447-arrow-load-loading-refresh-reload-restart-sync_115423.svg" alt="refresh" width=24
    id="refresh-button">
  <ul id="games"></ul>
  <a href="/games/new">Create Game</a>
</main>
{{end}}
